{% extends 'base.html.twig' %}

{% block main %}

    <p><a class="btn btn-success" href="{{ path('admin_articles')}}">Всички обяви</a></p>
    <p><a class="btn btn-success" href="{{ path('admin_users')}}">Всички потребители</a></p>

{% endblock %}

