{% extends 'base.html.twig' %}

{% block main %}

    <a class="btn btn-success" href="{{ path('admin_users')}}">ВИЖ ВСИЧКИ ПОТРЕБИТЕЛИ</a>

    <h1>Всички обяви:</h1>

    {% for article in articles %}
        <p><a href="{{ path('article_view', { id: article.id } ) }}">{{ article.title}}</a></p>
    {% endfor %}

{% endblock %}

