{% extends 'base.html.twig' %}

{% block main %}

    <p>
        <a class="btn btn-success" href="{{ path('admin_articles')}}">ВИЖ ВСИЧКИ ОБЯВИ</a>
        <a class="btn btn-success" href="{{ path('admin_users')}}">ВИЖ ВСИЧКИ ПОТРЕБИТЕЛИ</a>
    </p>

{% endblock %}

