{% extends 'base.html.twig' %}

{% block main %}

    <a class="btn btn-success" href="{{ path('admin_articles')}}">Всички обяви</a>

    <h1>Всички потребители:</h1>

    {% for user in users %}
        <p><a href="#">{{ user.username}}</a></p>
    {% endfor %}

{% endblock %}