{% extends 'base.html.twig' %}

{% block main %}

    <a class="btn btn-success" href="{{ path('admin_articles')}}">ВИЖ ВСИЧКИ ОБЯВИ</a>

    <h1>Всички потребители:</h1>

    {% for user in users %}
        <p><a href="{{ path('user_message', { id: user.id }) }}">{{ user.email}}</a></p>
    {% endfor %}

{% endblock %}